<div class="navbar-header">
    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
</div><!--.navbar-header-->
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown dropdown-user">
			<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">
				<img src="images/face11.jpg" alt="">
				<span>Thắng</span>
				<i class="caret"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-remove"></i> Logout</a></li>
			</ul>
        </li>
    </ul><!--.navbar-right-->
</div><!--.navbar-collapse collapse-->
