<header class="navbar navbar-inverse navbar-fixed-top" ng-include="'/web/layouts/header.html'"></header><!--header-->
<div class="page-container" style="min-height:1000px">
  <div class="page-content">
    <div class="sidebar sidebar-main" ng-include="'/web/layouts/sidebar.html'"></div>
    <div class="content-wrapper">
      <div class="page-header">
          <div class="page-header-content">
              <div class="page-title">
                  <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Create product</h4>
              </div>
          </div><!--.page-header-content-->
          <div class="breadcrumb-line" breadcrumbs>
          </div><!--.breadcrumb-line-->
      </div><!--.page-header-->
      <div class="content" ui-view></div><!--.content-->
    </div><!--.content-wrappe-->
  </div><!--.page-content-->
</div><!--.page-container-->
<footer ng-include="'/web/layouts/footer.html'"></footer><!--header-->
