<div class="variant-list">
  <table>
  <thead>
      <tr>
          <th width="33">&nbsp;</th>
          <th>Variants</th>
          <th width="140">Sku</th>
          <th width="140">Barcode</th>
          <th width="140">Pricel</th>
          <th width="100">Sale</th>
          <th width="80">Quantity</th>
      </tr>
  </thead>
  <tbody>
      <tr ng-repeat="(index, variant) in product.variants">
          <td style="text-center" ng-if="!product.id">
              <a href="javascript:void(0)" ng-click="product.variants.splice(index, 1)">
                  <i class="fa fa-times"></i>
              </a>
          </td>
  
          <td ng-if="product.id">
            <div class="dropdown">
                <a href="javascript:void(0)"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true">
                    <span class="caret"></span>
                    Hành động
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)" ng-click="listImage(variant)" >
                            <i class="fa fa-file-image-o"></i> Cập nhật hình ảnh
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" ng-click="changeVariant(variant)" >
                            <i class="fa fa-pencil-square-o"></i> Chỉnh sửa
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" ng-click="removeVariant(variant)" >
                            <i class="fa fa-times"></i> Xóa
                        </a>
                    </li>
                </ul>
            </div>
          </td>
  
          <td>{{product.getVariantLabel(variant)}}</td>
          <td style="padding:2px">
              <input
                placeholder="Sku"
                class="form-control"
                type="text"
                ng-model="variant.sku">
          </td>
          <td style="padding:2px">
              <input
                class="form-control"
                type="text"
                placeholder="Barcode"
                ng-model="variant.barcode">
          </td>
          <td style="padding:2px">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input
                        ui-number-mask="0"
                        ng-model="variant.price"
                        type="text"
                        class="form-control"
                        placeholder="Price">
                </div>
  
          </td>
          <td style="padding:2px">
              <div class="input-group">
                  <input
                      class="form-control"
                      type="number"
                      min="0" max="99"
                      ng-model="variant.sale">
                  <span class="input-group-addon">%</span>
                </div>
          </td>
          <td style="padding:2px">
              <input
                class="form-control"
                type="number"
                min="0" max="999"
                ng-model="variant.quantity">
          </td>
      </tr>
  </tbody>
  </table>
  </div>
