<form name="productAdd" class="form-horizontal">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4>{{$state.current.title}}</h4>
            </div>
        </div><!--.page-header-content-->
        <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="editCancel()">Cancel</button>
            <button type="button" class="btn btn-default" ng-click="editSave()">Save</button>
            <button type="button" class="btn btn-default" ng-click="editSaveAndFinish()">Save and finish</button>
        </div>
    </div><!--.page-header-->
    
    <div class="content">
        
        <div class="form-group">
            <label for="productName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="productName" placeholder="Name">
            </div>
        </div><!--.form-group-->
        
        <div class="form-group">
            <label for="productBranh" class="col-sm-2 control-label">Branh</label>
            <div class="col-sm-3">
              <input 
                ng-model="item.branh" 
                type="text" 
                class="form-control" 
                id="productBranh"
                placeholder="Branh">
            </div>
        </div><!--.form-group-->
        
        <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-7">
              <button type="button" class="btn btn-default" ng-click="addVariantOption()">Add variant</button>
              
              <div class="variant-list" ng-if="item.variants.length > 0">
                  <table>
                      <thead>
                          <tr>
                              <th>Action</th>
                              <th>Variant</th>
                              <th>Sku</th>
                              <th>Barcode</th>
                              <th>Price</th>
                              <th>Sale price</th>
                              <th>Quantity</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="variant in item.variants">
                              <td width="80"><a href="removeVariant(variant)">Remove</a></td>
                              <td width="100">{{getVariantLabel(variant.variants)}}</td>
                              <td width="100">
                                  <input 
                                    class="form-control" 
                                    type="text"  
                                    ng-model="variant.sku">
                              </td>
                              <td width="100">
                                  <input 
                                    class="form-control" 
                                    type="text"  
                                    ng-model="variant.barcode">
                              </td>
                              <td width="100">
                                  <input 
                                    class="form-control" 
                                    type="text"  
                                    ng-model="variant.price">
                              </td>
                              <td width="100">
                                  <input 
                                    class="form-control" 
                                    type="text"  
                                    ng-model="variant.sale_price">
                              </td>
                              <td width="50">
                                  <input 
                                    class="form-control" 
                                    type="text"  
                                    ng-model="variant.quantity">
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
            </div>
        </div><!--.form-group-->
        
        
        <div ng-if="variant_options.length === 0">
            <div class="form-group">
                <label for="productSku" class="col-sm-2 control-label">Sku</label>
                <div class="col-sm-3">
                  <input 
                    ng-model="item.current.sku" 
                    type="text" 
                    class="form-control" 
                    id="productSku" 
                    placeholder="Sku">
                </div>
            </div><!--.form-group-->
            
            <div class="form-group">
                <label for="productBarcode" class="col-sm-2 control-label">Barcode</label>
                <div class="col-sm-3">
                  <input 
                    ng-model="item.current.barcode" 
                    type="text" 
                    class="form-control" 
                    id="productBarcode" 
                    placeholder="Barcode">
                </div>
            </div><!--.form-group-->
    
            <div class="form-group">
                <label for="productPrice" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-3">
                  <input 
                    ng-model="item.current.price" 
                    type="text" 
                    class="form-control" 
                    id="productPrice"
                    placeholder="Price">
                </div>
            </div><!--.form-group-->
            
            <div class="form-group">
                <label for="productSalePrice" class="col-sm-2 control-label">Sale price</label>
                <div class="col-sm-3">
                  <input 
                    ng-model="item.current.sale_price" 
                    type="text" 
                    class="form-control" 
                    id="productSalePrice" 
                    placeholder="Sale price">
                </div>
            </div><!--.form-group-->
            
            <div class="form-group">
                <label for="productSalePrice" class="col-sm-2 control-label">Quantity</label>
                <div class="col-sm-3">
                  <input 
                    ng-model="item.current.quantity" 
                    type="text" 
                    class="form-control" 
                    id="productQuantity" 
                    placeholder="Quantity">
                </div>
            </div><!--.form-group-->
        </div>
        
        <div class="form-group">
            <label for="productDescriptionList" class="col-sm-2 control-label">Description list</label>
            <div class="col-sm-3">
                
              <input 
                ng-model="item.description_list[]" 
                type="text" 
                class="form-control" 
                id="productDescriptionList" 
                placeholder="Description list">
                
              <input 
                ng-model="item.description_list[]" 
                type="text" 
                class="form-control" 
                id="productDescriptionList" 
                placeholder="Description list">
                
              <input 
                ng-model="item.description_list[]" 
                type="text" 
                class="form-control" 
                id="productDescriptionList" 
                placeholder="Description list">
                
              <input 
                ng-model="item.description_list[]" 
                type="text" 
                class="form-control" 
                id="productDescriptionList" 
                placeholder="Description list">
            </div>
        </div><!--.form-group-->
        
        <div class="form-group">
            <label for="productDescription" class="col-sm-2 control-label">Description more</label>
            <div class="col-sm-3">
                
              <textarea 
                ng-model="item.description" 
                type="text" 
                class="form-control" 
                id="productDescription" 
                placeholder="Description">

            </div>
        </div><!--.form-group-->
        
        <div class="form-group">
            <label for="productKeywords" class="col-sm-2 control-label">Keywords</label>
            <div class="col-sm-3">
                
              <textarea 
                ng-model="item.keywords" 
                type="text" 
                class="form-control" 
                id="productKeywords" 
                placeholder="Keywords">

            </div>
        </div><!--.form-group-->
    </div><!--.content-->
</form>
