<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>{{$state.current.title}}</h4>
        </div>
    </div><!--.page-header-content-->
    <div class="pull-right">
        <button type="button" class="btn btn-default" ng-click="editCancel()">Cancel</button>
        <button type="button" class="btn btn-default" ng-click="editCancel()">Save</button>
        <button type="button" class="btn btn-default" ng-click="editCancel()">Save and finish</button>
    </div>
</div><!--.page-header-->

<div class="content">
</div><!--.content-->
