<button type="button" class="btn btn-danger btn-sm text-semibold" ng-click="cancel()">
    Hủy
</button>
<button type="button" class="btn btn-danger btn-sm text-semibold" ng-click="reset()">
    Thiết lập lại
</button>
<button type="button" class="btn btn-primary btn-sm text-semibold" ng-click="editSave()">
    <i class="fa fa-floppy-o"></i>  Lưu
</button>
<button type="button" class="btn btn-primary btn-sm text-semibold" ng-click="editSaveAndFinish()">
    <i class="fa fa-floppy-o"></i>  Lưu và kết thúc
</button>
