<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>{{$state.current.title}}</h4>
        </div>
    </div><!--.page-header-content-->
    <div class="pull-right">
        <div class="row">
            <div class="col-md-12 nav-buttons">
                <div class="pull-right">
                    <button type="submit"
                            class="btn btn-success"
                            ng-click="load()">
                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
                    </button>
                    <button type="submit"
                            class="btn btn-primary add-new-item"
                            ng-click="newProduct()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Item
                    </button>
                </div>
            </div>
        </div>
    </div>
</div><!--.page-header-->

<div class="content">
</div><!--.content-->
