<form name="productForm" crud-edit="product">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4 ng-if="!product.id"><i class="glyphicon glyphicon-tags"></i> New Product</h4>
                <h4 ng-if="product.id"><i class="glyphicon glyphicon-tags"></i> {{product.name}}</h4>
            </div>
        </div><!--.page-header-content-->
        <div class="page-header-right">
            <crud-buttons></crud-buttons>
        </div>
    </div><!--.page-header-->


    <div class="content">
        <div style="max-width:440px">
            <div class="form-group">
                <label for="productName">
                    Name <strong class="color-red">*</strong>
                </label>
                <input
                    name="name"
                    type="text"
                    ng-model="product.name"
                    class="form-control"
                    id="productName"
                    required
                    maxlength="255"
                    placeholder="Name">
            </div><!--.form-group-->

            <div class="form-group">
                <label for="productBranh">Sections</label>
                <ui-select ng-model="product.section" theme="bootstrap">
                    <ui-select-match placeholder="Selection or search">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="section in sections | filter: $select.search">
                            <span ng-bind-html="section.name | highlight: $select.search | html"></span>
                            <small ng-bind-html="section.code | highlight: $select.search | html"></small>
                        </ui-select-choices>
                </ui-select>
            </div><!--.form-group-->

            <div class="form-group">
                <label for="productBranh">Branh</label>
                <input
                    name="branh"
                    ng-model="product.branh"
                    type="text"
                    class="form-control"
                    id="productBranh"
                    maxlength="255"
                    placeholder="Branh">
            </div><!--.form-group-->

            <div class="form-group">
                <label for="productBranh">Templates</label>
                <select
                    class="form-control"
                    ng-model="product.template"
                    ng-change="product.selectTemplate(product.template)">

                      <option value="">--Select option--</option>
                      <option ng-repeat="(index, value) in templates" value="{{index}}">{{value}}</option>
                 </select>
            </div><!--.form-group-->
        </div>
        <div ng-if="product.template != null" >
            <div class="form-group" style="max-width:440px">
                    <div class="form-group" ng-repeat="option in product.variant_options">
                        <label>{{option.label}}</label>
                        <tags-input
                            min-length="1"
                            max-length="20"
                            placeholder="{{option.label}}"
                            ng-model="option.values"></tags-input>
                </div>
            </div><!--.form-group-->

            <div class="form-group">
                <button type="button" class="btn btn-primary btn-sm" ng-click="product.generateVariants()">
                    Update Variant
                </button>
            </div><!--.form-group-->

            <div class="form-group"  ng-if="product.variants.length > 0"  style="max-width:800px">
                <div ng-include="'/web/product/variant/list.html'"></div>
            </div><!--.form-group-->
        </div>

        <div class="form-group">
            <ul class="media-list">
                <li class="item" ng-repeat="(index, media) in variant.medias">
                    <div class="action">
                        <div class="dropdown">
                            <a href="javascript:void(0)"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" ng-click="product.removeMedia(media)"><i class="fa fa-times"></i>Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <img ng-src="{{media.path}}"/>
                </li>
                <li class="file-upload">
                    <a
                        ngf-multiple="true"
                        accept="image/*"
                        ngf-select="product.upload($files)"
                        ngf-drop="product.upload($files)"
                        ng-model="files"
                        href="javascript:void(0)">
                        <i class="fa fa-upload fa-4"></i>
                        <div class="text-hint">Upload file</div>
                    </a>
                </li>
            </ul>
        </div><!--.form-group-->

        <div ng-if="product.template == null" style="max-width:440px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="productSku">Sku</label>
                        <input
                            ng-model="product.variant.sku"
                            type="text"
                            class="form-control"
                            id="productSku"
                            placeholder="Sku">
                    </div><!--.form-group-->
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="productBarcode">Barcode</label>
                        <input
                            ng-model="product.current.barcode"
                            type="text"
                            class="form-control"
                            id="productBarcode"
                            placeholder="Barcode">
                    </div><!--.form-group-->
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="variantPrice">Price</label>

                        <div class="input-group">
                          <span class="input-group-addon">$</span>
                          <input
                                ui-number-mask="0"
                                ng-model="product.variant.price"
                                type="text"
                                class="form-control"
                                id="variantPrice"
                                placeholder="Price">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="variantSalePrice">Sale</label>
                        <div class="input-group">
                          <input
                                ng-model="product.variant.sale"
                                type="number"
                                min="0" max="99"
                                class="form-control"
                                id="variantSalePrice"
                                placeholder="Sale">
                          <span class="input-group-addon">%</span>
                        </div>
                    </div><!--.form-group-->
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="productSalePrice">Unit</label>
                        <input
                            ng-model="product.variant.unit"
                            type="text"
                            class="form-control"
                            id="productUnit"
                            placeholder="Unit: kg, chiếc, đôi...">
                    </div><!--.form-group-->
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="productSalePrice">Quantity</label>
                        <input
                            ng-model="product.current.quantity"
                            type="number"
                            min="0" max="999"
                            class="form-control"
                            id="productQuantity"
                            placeholder="Quantity">
                    </div><!--.form-group-->
                </div>
            </div>
        </div>

        <div style="max-width:600px">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"  class="active">
                    <a class="text-semibold" href="#attributes" aria-controls="attributes" role="tab" data-toggle="tab">Attributes</a>
                </li>
                <li role="presentation">
                    <a class="text-semibold" href="#keywords" aria-controls="keywords" role="tab" data-toggle="tab">Keywords</a>
                </li>
                <li role="presentation">
                    <a class="text-semibold" href="#description" aria-controls="keywords" role="tab" data-toggle="tab">Description</a>
                </li>
            </ul>


            <!-- Tab panes -->
            <div class="tab-content" style="padding:10px; border: 1px solid #ddd; border-top:none; background:#fff">

                <div role="tabpanel" class="tab-pane active"
                    ng-init="product.attrs = [{}]"
                    id="attributes">

                    <div class="form-group" ng-repeat="(index, attr) in product.attrs">
                        <div class="row">
                            <div class="col-md-4">
                                <input
                                    placeholder="Tên"
                                    type="text"
                                    class="form-control"
                                    ng-model="attr.name">
                            </div>
                            <div class="col-md-7">
                                <input
                                    placeholder="Giá trị"
                                    type="text"
                                    class="form-control"
                                    ng-model="attr.value">
                            </div>
                            <div class="col-md-1">
                                <a href="javascript:void(0)"
                                    style="margin-top: 5px;display: block;font-size: 15px;color: #999;"
                                    ng-click="product.attrs.splice(index, 1)"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div><!--.row-->
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="product.attrs.push({})">+ Add</button>
                    </div><!--.row-->
                </div><!--#attributes-->

                <div role="tabpanel" class="tab-pane" id="keywords">
                    <div class="form-group">
                        <label for="productKeywords">Keyword</label>
                        <textarea
                            rows="5"
                            ng-model="product.keywords"
                            type="text"
                            class="form-control"
                            id="productKeywords"
                            placeholder="Keywords"></textarea>
                    </div><!--.form-group-->
                </div><!--#keywords-->

                <div role="tabpanel" class="tab-pane" id="description">

                    <div class="form-group">
                        <label for="productDescriptionList">Description</label>
                        <div class="form-group" ng-repeat="desc in [0, 1, 2, 3, 4]">
                            <input
                                ng-model="product.description_list[desc]"
                                type="text"
                                class="form-control"
                                placeholder="Nhập mô tả">
                        </div><!--.form-group-->
                    </div><!--.form-group-->

                    <div class="form-group">
                        <label for="productDescription">Description more</label>
                        <textarea
                            rows="5"
                            ng-model="product.description"
                            type="text"
                            class="form-control"
                            id="productDescription"
                            placeholder="Description"></textarea>
                    </div><!--.form-group-->
                </div><!--#description-->


            </div>

        </div><!--Tab-->

        <div class="checkbox checkbox-primary">
            <input ng-model="product.status" id="productStatus" value="1" type="checkbox">
            <label for="productStatus">
                Enable searching on website
            </label>
        </div>

        <div style="padding-top:50px;">
            <crud-buttons></crud-buttons>
        </div>

    </div><!--.content-->
</form>
