<form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Search product">
    <button type="submit" class="btn btn-default">Search</button>
  </div>
  <div class="form-group pull-right">
    <a ui-sref="product.new" class="btn btn-default">Add product</a>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
        <th style="width:40px">Photo</th>
        <th>Name</th>
        <th style="width:10%">Price</th>
        <th style="width:10%">Sale</th>
        <th style="width:10%">Quantity</th>
        <th style="width:30px">Status</th>
        <th style="width:70px; text-align:right">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="gridOptions.data.length > 0" ng-repeat="product in gridOptions.data">
        <td><i class="fa fa-picture-o fa-1"></i></td>
        <td><a class="text-semibold"  href="#">{{product.name}}</a></td>
        <td class="text-semibold" style="color:red">
            <div class="form-price">
                <span>đ</span>
                <input type="text"
                    ui-number-mask="0"
                    ng-model="product.price"
                    name="productDefaultPrice"
                    class="form-control" value="0">
            </div>
        </td>
        <td class="text-semibold" style="color:red">
            <div class="form-price">
                <span>đ</span>
                <input type="text"
                    ui-number-mask="0"
                    ng-model="product.sale"
                    name="productDefaultPrice"
                    class="form-control" value="0">
            </div>
        </td>
        <td>
            <input type="text"
                ui-number-mask="0"
                ng-model="product.quantity"
                name="productDefaultPrice"
                class="form-control" value="0">
        </td>
        <td>active</td>
        <td style="text-align:right">
            <a href="#" ui-sref="product.detail({productId:1})"><i class="fa fa-pencil"></i></a> &nbsp; &nbsp;
            <a href="#"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
    <tr ng-if="gridOptions.data.length == 0">
        <td colspan="8">Không tìm thấy sản phẩm/td>
    </tr>
  </tbody>
</table>

<nav>
  <ul class="pagination pagination-lg">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
