<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>Danh sách sản phẩm</h4>
        </div>
    </div><!--.page-header-content-->
    <div class="page-header-right">
        <div class="row">
            <div class="col-md-12 nav-buttons">
                <div class="pull-right">
                    <button type="submit"
                            class="btn btn-primary btn-sm"
                            ng-click="newProduct()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Đăng sản phẩm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div><!--.page-header-->

<div class="content">
    <div class="col-md-12">
        <div class="row">
            <div
                class="grid"
                style="height: {{gridOptions.data.length * 30 + 32}}px"
                ui-grid="gridOptions"
                ui-grid-edit
                ></div>
        </div>
    </div>

    <!-- Pagination & collection details -->
    <div class="row">
        <div class="col-md-12">
            <uib-pagination
                total-items="gridOptions.totalItems"
                ng-model="currentPage"
                ng-select="load()"
                max-size="maxSize"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                num-pages="numPages"></uib-pagination>
        </div>
    </div>
</div><!--.content-->
