<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="glyphicon glyphicon-tags"></i> Products</h4>
        </div>
    </div><!--.page-header-content-->
    <div class="page-header-right">
        <div class="row">
            <div class="col-md-12 nav-buttons">
                <div class="pull-right">
                    <button type="submit"
                            class="btn btn-primary btn-sm"
                            ng-click="newProduct()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
                    </button>
                </div>
            </div>
        </div>
    </div>
</div><!--.page-header-->

<div class="content">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)">All</a></li>
          <li><a href="javascript:void(0)">Active</a></li>
          <li><a href="javascript:void(0)">Pedding</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" 
        aria-label="..."
        ng-model="search.q"
        ng-blur="load()"
        placeholder="Start typing to search for products..."
        >

        <div class="input-group-btn">
            <button type="button" class="btn btn-default" ><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div><!-- /input-group --><br/>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Bulk actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i> Publish selected products</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-eye-close"></i> Hidden selected products</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-remove"></i> Delete selected products</a></li>

        <li role="separator" class="divider"></li>

        <li><a href="#"><i class=" glyphicon glyphicon-tags"></i> Add Tags</a></li>
        <li><a href="#"><i class=" glyphicon glyphicon-tags"></i> Remove Tags</a></li>
      </ul>
    </div>
    <br/>

    <div
        class="grid"
        style="max-height:500px"
        ui-grid="gridOptions"
        ui-grid-edit
        ui-grid-selection
        ></div>

    <!-- Pagination & collection details -->
    <uib-pagination
        total-items="gridOptions.totalItems"
        ng-model="currentPage"
        ng-change="load()"
        max-size="maxSize"
        class="pagination-sm"
        boundary-links="true"
        rotate="false"
        num-pages="numPages"></uib-pagination>
</div><!--.content-->
