
<form name="productForm">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4 ng-if="!variant.id">Biển thể mới</h4>
                <h4 ng-if="variant.id">Chỉnh sửa</h4>
            </div>
        </div><!--.page-header-content-->
        <div class="page-header-right">
            <div ng-include="'/web/product/buttons.html'"></div>
        </div>
    </div><!--.page-header-->


    <div class="content">
        <div style="max-width:440px">
            <div class="form-group" ng-repeat="(index, opt) in options">
                <label for="productName">
                    {{opt.label}}
                </label>
                <input
                    type="text"
                    ng-model="option[index]"
                    class="form-control"
                    placeholder="{{opt.label}}">
            </div><!--.form-group-->
            
            <div class="form-group">
                <label for="productBranh">Giá tiền</label>
                <input
                    name="price"
                    type="text"
                    ng-model="variant.price"
                    class="form-control"
                    placeholder="Tiền ">
            </div><!--.form-group-->
            
            <div class="form-group">
                <label for="productBranh">Khuyến mãi</label>
                <input
                    name="sale"
                    type="text"
                    ng-model="variant.sale"
                    class="form-control"
                    placeholder="Khuyến mãi ">
            </div><!--.form-group-->
            
            <div class="form-group">
                <label for="productBranh">Số lượng</label>
                <input
                    name="quantity"
                    type="text"
                    ng-model="variant.quantity"
                    class="form-control"
                    placeholder="Số lượng ">
            </div><!--.form-group-->
        </div>
    </div>
</form>
  
