<div class="modal-header">
    <h3 class="modal-title">Ảnh</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <ul class="media-list">
            <li class="item" ng-repeat="item in items">
                <div class="action">
                    <div class="dropdown">
                        <a href="javascript:void(0)"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" ng-click="resource.removeMedia(item)">
                                <i class="fa fa-times"></i>Xóa</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <img ng-src="{{media.path}}"/>
            </li>
            <li class="file-upload">
                <a
                    ngf-multiple="true"
                    accept="image/*"
                    ngf-select="resource.upload($files)"
                    ngf-drop="resource.upload($files)"
                    ng-model="files"
                    href="javascript:void(0)">
                    <i class="fa fa-upload fa-4"></i>
                    <div class="text-hint">Tải ảnh lên</div>
                </a>
            </li>
        </ul>
    </div><!--.form-group-->
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Đóng</button>
</div>
