
<form name="sectionForm" crud-edit="resource">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4 ng-if="!resource.id"><i class="glyphicon glyphicon-tags"></i> New Section</h4>
                <h4 ng-if="resource.id"><i class="glyphicon glyphicon-tags"></i> Edit</h4>
            </div>
        </div><!--.page-header-content-->
        <div class="page-header-right">
            <crud-buttons></crud-buttons>
        </div>
    </div><!--.page-header-->


    <div class="content">
        
        <div style="max-width:300px">
            
            <div class="form-group">
                <label for="sectionName">Name <strong class="color-red">*</strong></label>
                <input
                    name="sku"
                    type="text"
                    ng-model="resource.name"
                    class="form-control"
                    required
                    placeholder="Name">
            </div><!--.form-group-->
            
            <div class="form-group">
                <label for="productBranh">Category</label>
                <ui-select ng-model="resource.category" theme="bootstrap">
                    <ui-select-match placeholder="Selection or search">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="category in categories | filter: $select.search">
                            <span ng-bind-html="category.name | highlight: $select.search | html"></span>
                            <small ng-bind-html="category.code | highlight: $select.search | html"></small>
                        </ui-select-choices>
                </ui-select>
            </div><!--.form-group-->

            <div class="form-group">
                <label for="resourceKeyword">Keyword</label>
                <textarea
                    rows="5"
                    ng-model="resource.keywords"
                    type="text"
                    class="form-control"
                    id="resourceKeyword"
                    placeholder="Keyword"></textarea>
            </div><!--.form-group-->
            
            <div class="form-group">
                <label for="resourceDescription">Description</label>
                <textarea
                    rows="5"
                    ng-model="resource.description"
                    type="text"
                    class="form-control"
                    id="resourceDescription"
                    placeholder="Description"></textarea>
            </div><!--.form-group-->
        </div>
        
        <div style="padding-top:50px;">
            <crud-buttons></crud-buttons>
        </div>
    </div>
</form>
  
