// Forms
// --------------------------------------------------

label {
    font-weight: 500;
}

.form-control {
    &:focus {
        @include box-shadow(none);
    }
}


.form-price {
    position:relative;
    span {
        top:8px;
        left:15px;
        padding-right:6px;
        text-decoration:underline;
        font-size:11px;
        position:absolute;
    }
    input {
        padding-left: 30px;
    }
}


.product-form {
    max-width:1200px;
}

