.sidebar {
    background-color: #263238;
    color: #fff;
    position: fixed;
    top:0px;
    left: 0px;
    bottom: 0px;
    width: 260px;
    z-index: 10;
    @media (min-width: $screen-sm) {
        position:fixed;
        top:0px;
        left: 0px;
        bottom: 0px;
        .sidebar-content {
            position:absolute;
            top:0px;
            left: 0px;
            right:0px;
            bottom: 0px;
            overflow-x: hidden;
            overflow-y: auto;
        }

    }


}


.category-content {
    position: relative;
    padding: 10px;
}
