.sidebar {
    background-color: #263238;
    color: #fff;
    position: relative;
    width: 100%;

    @media (min-width: $screen-sm) {
        width: 260px;
        position:fixed;
        top:0px;
        left: 0px;
        bottom: 0px;
        z-index: 10;
        .sidebar-content {
            position:absolute;
            top:0px;
            left: 0px;
            right:0px;
            bottom: 0px;
            overflow-x: hidden;
            overflow-y: auto;
        }

    }


}


.category-content {
    position: relative;
    padding: 20px;
}
