
// Tables
// --------------------------------------------------

.table {
    .form-control {
        cursor: pointer;
        border: 1px solid #fff;
        @include box-shadow(none);
    }
    
    tr:hover {
        .form-control {
            border: 1px solid #ccc;
        }
        
    }
}
