@import "compass/css3";

@import "compass/utilities";

// Wrapper
// --------------------------------------------------
.content-wrapper {
    padding-bottom: 20px;
    width: 100%;
    @media (min-width: $screen-sm) {
        display: table-cell;
        vertical-align: top;
    }
}

.page-header {
    margin: 0 0 20px 0;
    padding-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.page-header-content {
    position: relative;
    background-color: inherit;
    padding: 0 20px;

    &+.breadcrumb-line {
        border-bottom-width: 0;
        border-top: 1px solid #ddd;
    }
}

.page-header-right {
    position: absolute;
    right: 20px;
    top:20px;
}



.page-title {
    padding: 10px 36px 10px 0;
    display: block;
    position: relative;
}


.breadcrumb-line {
    background-color: #fcfcfc;
    border-bottom: 1px solid #ddd;
    position: relative;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    .breadcrumb {
        @media (min-width: $screen-sm) {
            float: left;
            margin-right: 0;
        }

        margin-left: 20px;
        margin-right: 56px;
    }
}

.page-header+.content {
    padding-top: 0;
}
.content {
    padding: 20px 20px;
}





ul.media-list {
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

    >li {
        width: 150px;
        height: 150px;
        float: left;
        position: relative;
        margin-right: 10px;
        img {
            width:100%;
            height:100%;
            @include border-radius(4px);
        }



        &.item {
            border: 1px solid #ddd;
            @include border-radius(4px);

            &:hover {
                border: 1px solid #ccc;
            }
        }

        >a{
            display: block;
            border: 1px dashed #ccc;
            background: #fff;
            text-align: center;
            @include border-radius(3px);
            overflow: hidden;
            color:#BFBDBD;
            i {
                padding-top: 25px;
                color: #BFBDBD;
            }
            &:hover,
            &.dragover {
                color:#666;
                border-color: #666;
            }
        }

        .action {
            position: absolute;
            top:10px;
            right:10px;

            .caret {
                font-size:16px;
            }

            a {
                color:#666;
            }
        }
    }
}
